page-home {
  .container {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    color: white;
  }

  .searchbar-ios {
    background: none;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  }

  ion-label {
    font-weight: 800;
  }

  h1 {
    font-size: 18px;
  }

  p {
    margin-bottom: 8px;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .banner-image, .product-image {
    opacity: 1;
    display: block;
    width: 100%;
    object-fit: cover;
  }

  .banner-image {
    height: 300px;
  }

  .product-image {
    height: 220px;
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  }

  .button-clear-ios {
    color: red;
    width: 30px;
    height: 30px;
  }

  .seeAll {
    color: #02b3e4;
    width: 50px;
    margin-right: 0 !important;
  }

  .right-top {
    transition: .5s ease;
    opacity: 5;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
  }

  .href {
    color: black;
  }
}
