page-wish-list {
  .product-image {
    opacity: 1;
    width: 100%;
    min-height: 240px;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }


  .right-top {
    transition: .5s ease;
    opacity: 5;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
  }
}
