
<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title align-items-center>Products</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div>
    <ion-slides pager="true" paginationType="fraction" #productSlides>
    <ion-slide *ngFor="let product of productsArray">
      <img class="product-image" [src]="uploadUrl + '/' + product.filename">
      <div class="right-top">
        <button clear ion-button (click)="onChangeWishList()">
          <ion-icon [name]="isLiked? 'heart' : 'heart-outline'"></ion-icon>
        </button>
      </div>
      <button type="submit" float-left color="white" class="swiper-button-prev" (click)="onPrevSlide()"></button>
      <button type="submit" float-right color="white" class="swiper-button-next" (click)="onNextSlide()"></button>
      <ion-row>
        <ion-col col-6>{{ productName }}</ion-col>
        <ion-col col-6>${{ product.title}}</ion-col>
      </ion-row>
    </ion-slide>
    </ion-slides>
  </div>
  <form (ngSubmit)="onAddToCart(f)" #f="ngForm">
    <ion-list>
        <ion-item>
          <ion-label>Choose color</ion-label>
          <ion-select name="productColor" ngModel required>
            <ion-option value="red">Red</ion-option>
            <ion-option value="grey">Grey</ion-option>
            <ion-option value="black">Black</ion-option>
            <ion-option value="white">White</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Choose size</ion-label>
          <ion-select name="productSize" ngModel required>
            <ion-option value="S">Size S</ion-option>
            <ion-option value="M">Size M</ion-option>
            <ion-option value="L">Size L</ion-option>
            <ion-option value="XL">Size XL</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input type="number" name="productQuantity" ngModel required text-right></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block type="submit" [disabled]="!f.valid"text-center>ADD TO CART</button>
  </form>

  <div>
    <ion-segment>
      <ion-segment-button value="productDetails" (ionSelect)="onSelectProductDetails()">PRODUCT DETAILS</ion-segment-button>
      <ion-segment-button value="deliveryTime" (ionSelect)="onSelectDeliveryTime()">DELIVERY TIME</ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segmentButton">
    <ion-item *ngSwitchCase="'productDetails'">
      <h2>{{description}}</h2>
    </ion-item>
    <ion-item *ngSwitchCase="'deliveryTime'">
      <h2>4 days</h2>
    </ion-item>
  </div>

  <div>
    <h1>CUSTOMER REVIEWS</h1>
  </div>

  <div>
    <h1>{{overallRate}}/5</h1>
    <rating-show *ngIf="roundedRate != -1"[rate]="roundedRate"></rating-show>
    <p>{{reviewArray.length}} reviews</p>
  </div>
  <button ion-button block outline (click)="onWriteReview()">WRITE REVIEW</button>
  <br/>
  <br/>
  <ion-grid *ngFor="let review of reviewArray">
    <ion-row>
      <ion-col col-6>
        <ion-row>
          <rating-show [rate]="review.rating"></rating-show>
        </ion-row>
        <ion-row>
          <ion-textarea [value]="review.commentContent"></ion-textarea>
        </ion-row>
        <ion-row>
          <ion-label class="label-username">{{review.userName}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col col-6>
          <ion-img class="review-image"[src]="review.imagePath"></ion-img>
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
