page-products {
  .review-image {
    opacity: 1;
    display: block;
    width: 100%;
    min-height: 160px;
    height: auto;
  }

  .label-username {
    font-weight: bold;
  }
  .not-like {
    color:black;
  }
  .like {
    color: red;
  }

  .product-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
  }

  .right-top {
    transition: .5s ease;
    opacity: 5;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
  }
}
