page-products {
  .review-image {
    max-width: 100%;
    max-height: 100%;
    width: 240px;
    height: 160px;
  }
  .label-username {
    font-weight: bold;
  }
  .not-like {
    color:black;
  }
  .like {
    color: red;
  }
}
